# Ignore audio files and folders
*.flac
*.mp3
*.wav
*.m4a
*.ogg
/flac/
/mp3/
/TO SORT/
/review/
/delete/

# Ignore ZIP backup archives
*.zip

# Ignore C++ build directories and MSVC debug artifacts
/build/
*.ilk
*.pdb
*.obj
imgui.ini

# Ignore Python cache and binary tools
__pycache__/
*.pyc
fpcalc.exe
chromaprint-*/
